<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {{ .Title }} | Web Weekend Kathmandu - 2018</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
  <link rel="icon" type="image/png" href="/img-2018/favicon.png" />
  <meta property="og:title" content="{{.Title }} | Web Weekend Kathmandu" />
  <meta property="og:description" content="wwktm is an effort to gather experts, both national and international, and create an environment for new partnerships, collaborations and learning groups to be formed. We want to create a space that encourages participation and then the dynamics of the group will take over the direction." />
  <meta property="og:image" content="https://2018.wwktm.co/img/og.jpg" />  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
  <meta name="google-site-verification" content="DLn-9zKLN3H1tlP1wnigKETlpZhknC7qqotdNeKl2Ic" />
</head>
<body>
  <div class="alert alert-secondary" role="alert" align="center">
      Web Weekend Kathmandu 2023 is on 23-24 September 2023. <a href="/2023/" class="alert-link">Checkout the website</a>.
  </div>
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="/"><img class="img-fluid" src="/img-2018/Logos-02.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/2018">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2018#speakers">SPEAKERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2018/code-of-conduct/">CODE OF CONDUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2018/schedule/">SCHEDULE</a>
        </li>
        <li class="nav-item main">
          <a class="nav-link" href=""><strike>BUY A TICKET</strike></a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <!-- Navbar End -->
