<meta name="viewport" content="width=device-width, initial-scale=1" />


<style>
  .main-description{
    /* display: flex; */
    justify-content: center;
    padding: 6.8rem 14.375% 4.38rem 14.375%;
    text-align: center;
    /* align-items: center; */
  }
  .message-title{
    font-family: "Clash Display", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 66px;
    color:#262A41;
  }
  .messages{
    font-family: "Monserratt",Arial, Helvetica, sans-serif;
    color:#1E2441
  }
  .top-message{
    padding:1.5rem 0 1.5rem 0;
  }
  .bottom-message{
    display: flex;
    text-align: left;
    gap: 1.5rem;
  }
  .left-message{
    width:50%;
  }
  .right-message{
    width:50%;
    border-radius: 1.25rem;
    background-color: #E0F7FF;
    height:fit-content;
  }
 .right-message-text{
      padding:1.25rem
    }
    @media screen and (max-width: 480px) {
  .bottom-message {
    flex-direction: column; 
  }
  .left-message{
    width:100%
  }
  .right-message{
    width:100%
  }
}
</style>

</style>
  <div class="main-description">
    <div class="message-title">Flagship tech event</div>
    <div class="messages">
      <div class="top-message">
        The legendary SmashingConf SF 🇺🇸 is back — entirely focused on
        cutting-edge front-end. From<br />
        accessibility and advanced CSS to JavaScript gems and web performance.

    </div>
    <div class="bottom-message">
      <div class="left-message">
        SmashingConf are friendly, inclusive events with 2 days, 1 track, 12
        speakers, 250–400 attendees and one or two days of hands-on workshops. Our
        speakers are great: they are absolute experts in their field, show how
        they work — their setup, techniques and shortcuts — in live interactive
        sessions. Smashing Conferences cover a range of topics on front-end/web,
        from UX design to JS and Accessibility. We make sure you can learn
        something from every talk, with actionable insights for your work.
      </div>
      <div class="right-message">
        <div class="right-message-text">
       Excited to join, but your manager needs a little more persuasion? Check
       <u>Convince Your Boss</u> PDF and a <u>Letter For The Boss</u>. Good luck! 🤞🤞🏼🤞🏾</div>
      </div>
      </div>

    </div>
    
  </div>
  