<style>
  .tickets-section {
    text-align: center;
    margin: 20px;
  }
</style>

<section class="section is-medium content tickets-section">
  <div class="container">
    <h2 style="font-size:50px; font-family: 'ClashDisplay-Semibold'; padding-top: 70px; margin-bottom:24px">Tickets</h2>
    <h5 style="margin: 24px;">FIXME: Design for this section, given that we want to redirect to eventsmo and so only have a single button</h5>
    <a href=https://eventsmo.com/event/wwktm-2023 target="blank_" style="color:#FFFFFF;border-radius:4px;background:#922C88;font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;padding:8px 16px;display:inline-block;line-height:20px;font-size:16px;text-decoration:none">Get Tickets</a>
  </div>
</section>