<style>
  .navbar {
    z-index: 100;
  }

  .navbar-navs {
    /* float: right !important; */
  }

  .navbar-navs .nav-items {
    display: inline-block;
    float: left !important;
    font-size: 1.2rem;
    padding: 5px;
  }

  .nav-logo {
    width: 150px;
  }
  .nav-brand {
    padding: 5px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="nav-brand">
    <a href="/" class="nav-link"><img src="/img/logo.png" class="nav-logo" alt=""></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-navs mr-auto my-lg-0">
  </ul>
  <ul class="navbar-navs my-2 my-lg-0">
    <li class="nav-items ">
      <a class="nav-link" href="https://barcamp.wwktm.com">Barcamp</a>
    </li>
    <li class="nav-items ">
      <a class="nav-link" href="/2019/">2019 </a>
    </li>
    <li class="nav-items">
      <a class="nav-link" href="/2018/">2018</a>
    </li>
    <li class="nav-items active">
      <a class="nav-link" href="https://blog.wwktm.co">Blog <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>
</nav>
