{{ partial "2019/header.html" . }}
<section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="hero-content">
          <h1 class="title">Schedule</h1>
          <div class="subtitle">
            This is how it will
            <strong class="orange">Roll.</strong>
          </div>
        </div>
        <a href="/2019">{{ partial "2019/svg.html" . }}</a>
      </div>
    </div>
    </section>
    <section id="about-event">
    <div class="container">
      <h3> <strong>Saturday</strong> - September 21, 2019 </h3>
      <br />
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">8:15</div>
        <div class="column is-11 schedule-detail"> ☕ Doors Open</div>
      </div>
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">9:00</div>
        <div class="column is-11 schedule-detail"> 👐 Welcome and Intro</div>
      </div>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">9:15</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/korotaev-alexander/">K. Alexander</a>
              <img src="/img-2019/speakers/alex-korotaev.jpg" />
            </div>
            <h2>WebGL and 2D: simple as Web</h2>
            <p>At first quick WebGL retrospective for a 9 years. Unsuccessful attempts to curb complexity of API to get faster result. </p>
            <p>Finally: my thoughts about finding a better way to reduce WebGL complexity for 2D.</p>
          </div>
      </div></label>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">09:45</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/karen-lowry/">Karen Lowry</a>
              <img src="/img-2019/speakers/karen-lowry.jpg" />
            </div>
            <h2>The gender gap between frontend and backend developers</h2>
            <p>As more women have moved software, front development has been increasingly feminised. On the flip side, the backend of the stack is seen as masculine, logical and ruthless. It’s no surprise where most female hires are. So how did we come to accept these gender representations in software and can we begin to close the gap? Or do we even want to?</p>
          </div>
      </div></label>
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">10:15</div>
        <div class="column is-11 schedule-detail"> Break </div>
      </div>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">10:25</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/raju-dawadi/">Raju Dawadi</a>
              <img src="/img-2019/speakers/raju-dawadi.jpg" />
            </div>
            <h2>DevOps from Myth to Transformation</h2>
            <p>What it takes to foster for proactive engineering of product with resiliency & speed by adopting DevOps culture but not only by CI/CD practices & automation</p>
            <p>And the path of building & leading DevOps community in Kathmandu with offline and online meetings, learning & sharing sessions and bridging the gap between local & global tech communities.</p>
          </div>
      </div></label>
      <label><div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">10:55</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/dev-raj-gautam/">Dev Raj Gautam</a>
              <img src="/img-2019/speakers/dev-raj-gautam.jpg" />
            </div>
            <h2>RGB of Product/ Project Management</h2>
            <p>The talk will be about Do’s (Green), Don’t Do’s (Red) and Must Have (Blues) ingredients to manage the Products. Talk will be primarily focus about product blending the concepts to Project Management too. Presentation helps Team Leads, Project/ Product Managers to better manage In house &amp; Client Projects </p>
          </div>
      </div></label>
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">11:15</div>
        <div class="column is-11 schedule-detail"> Break </div>
      </div>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">11:25</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/chen-hui-jing/">Hui Jing Chen</a>
              <img src="/img-2019/speakers/chen-hui-jing.jpg" />
            </div>
            <h2>Using DevTools to understand modern CSS layouts</h2>
            <p>Flexbox, Grid and Box Alignment are the cornerstones of modern CSS layouts. They introduce behaviours that might seem confusing if you don’t completely understand how the browser inteprets the CSS values you assign, e.g. sizing with Flexbox, or the various options for sizing tracks in Grid. DevTools are primarily used for debugging, but they can also help developers better understand and visualise how the browsers are interpreting layout properties. Through live demonstrations with DevTools, this talk will explain auto-margins, box alignment, flexible sizing and grid placement, and show some real-world use cases for building layouts with them.</p>
          </div>
      </div></label>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">11:55</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/milap-neupane/">Milap Neupane</a>
              <img src="/img-2019/speakers/milap-neupane.jpg" />
            </div>
            <h2>Working Optimally with relational databases</h2>
            <p>In the initial phase of the database we have few records and slowly as our business grows so does our database. The performance that we used to get slowly declines. It takes a lot of time to get the result. Reporting and aggregating the data will be troublesome. For this, we will need to understand how relational database work and how they store the data. Indexing is the way to solve these problems. So will be deep diving into Indices, from basics of what is an index is to how we can use them optimally according to our need and what are the best practices in creating and using the indices. To understand how the database is working we first need a way to monitor, profile the database. With the correct profiling in place, we can find out what is the problem and where the database is low in performance. Once we have the correct index in place we will need to extend further by partitioning and sharding our database according to need.</p>
          </div>
      </div></label>
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">12:25</div>
        <div class="column is-11 schedule-detail">
          Group Photo YAY!
        </div>
      </div>
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">12:30</div>
        <div class="column is-11 schedule-detail">
          🍔 🍎 🥦 🍹 Lunch
        </div>
      </div>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">14:00</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/pratik-karki/">Pratik Karki</a>
              <img src="/img-2019/speakers/pratik-karki.jpg" />
            </div>
            <h2>Know enough Git internals to be Dangerous</h2>
            <p>Building software is hard. Programming is complex. Thankfully, there are tools which really stand out and make programming fun by taking care of the complexities. Git is the one true VCS, forged from the furnace of Linux kernel community by awesome engineers. But, we do not use the true powers of Git, we do not move past the Shire. Once we’re “Far over the Misty Mountains cold …”, we can truly appreciate how good it is. We’ll begin to stroll the Middle-earth, we’ll face Goblins, we’ll walk past Mordor but, we do not fear anything, because we’ll have “Gandalf the White” with us throughout the journey.</p>
          </div>
      </div></label>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">14:30</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/gaurav-sen/">Gaurav Sen</a>
              <img src="/img-2019/speakers/gaurav-sen.jpeg" />
            </div>
            <h2>Making decisions among tradeoffs in Systems Design </h2>
            <p>A system can be designed in various ways. Engineers often need to choose amongst these solutions subjectively, keeping in mind their respective pros and cons. The presentation will focus on how we can identify and choose between these tradeoffs methodically and hence reduce risks while making decisions.</p>
          </div>
      </div></label>
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">15:00</div>
        <div class="column is-11 schedule-detail">
          ☕ Tea, Coffee 
        </div>
      </div>
      <label><div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">15:15</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/p01">Mathieu p01 Henri</a>
              <img src="/img-2019/speakers/p01.jpg" />
            </div>
            <h2>End to end testing a world of web, mobile & desktop apps</h2>
            <p>“Things get complicated when you target multiple platforms and large parts of your code powers components used on Android, iOS, Mac, Win32 and the web from IE11 and up.</p>
            <p>This is the testing journey of the Profile card serving +100M people in Outlook and Office 365: How we style, test and monitor our components for any hiccups. And boy do they misbehave at times!</p>
            <p>Starting with one browser and some open source libraries, we improved the status quo and set a framework that scales our end to end testing across browsers and native applications”</p>
    </p>
          </div>
      </div></label>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">15:45</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/artur-neumann/">Artur Neumann</a>
              <img src="/img-2019/speakers/artur-neumann.jpg" />
            </div>
            <h2>How to change your manual testing time into chiya drinking time</h2>
            <p>Lets be honest we rather hack code than test it. So what if you could hack tests? Wouldn’t that be more fun than doing manual tests. Manual testing can be often replaced by automated testing, what makes is cheaper, more reliable and MORE FUN. And when you have a reasonable set of tests how easy would be refactoring. You don’t need to be scared of introducing bugs, the tests will protect you. You finally could: “move fast, break things”, because every-time you break something the tests will catch it. And have you ever thought: oh man I have to push this hotfix to production but I don’t know what side effects it might have, and its allredy 3am in the morning, I should test, but I’m so tiered. So let the computer do the hard work, you do what you are good at: drink chiya and hack code. With automated tests you finally can be much more agile, its kind of super powers!</p>
          </div>
      </div></label>
      <label> <div class="columns is-mobile schedule-line">
          <input type="checkbox">
          <div class="column is-1 time">16:15</div>
          <div class="column is-11 schedule-detail">
            <div class="schedule-speaker">
              <a href="/speakers/george-mand-is/">George Mandis</a>
              <img src="/img-2019/speakers/george-mandis.jpg" />
            </div>
            <h2>More than Music with WebMIDI and JavaScript</h2>
            <p>Did you know there’s a widely-supported browser API that allows you to interface with a wide variety of hardware, including some you can build yourself? Wonder no more and meet the WebMIDI API! We’ll look at how MIDI — a niche protocol from 1983 designed for electronic musical instruments to talk to one another — JavaScript and “tiny computers” like the Arduino, Espruino and RasperryPi can be used to build interactive, non-musical experiences that straddle the line between the web and physical world.</p>
          </div>
      </div></label>
      <div class="columns is-mobile schedule-line schedule-line-single">
        <div class="column is-1 time">16:45</div>
        <div class="column is-11 schedule-detail">
          👋 🎉 Closing Remarks and Afterparty
        </div>
      </div>
    </div>
    </section>
{{ partial "2019/footer.html" . }}
