/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
  url('/fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/raleway-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
  url('/fonts/raleway-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/raleway-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/raleway-v12-latin-500.woff') format('woff'), /* Modern Browsers */
  url('/fonts/raleway-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/raleway-v12-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/raleway-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
  url('/fonts/raleway-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/raleway-v12-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/fonts/raleway-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/raleway-v12-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/raleway-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'),
  url('/fonts/raleway-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/raleway-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/raleway-v12-latin-900.woff') format('woff'), /* Modern Browsers */
  url('/fonts/raleway-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/raleway-v12-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}


*, *:after, *:before { box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }
body {
  background: #fff;
  color: #1e1a1b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: auto;
}
a {
  outline: none;
  color: #dd3e62;
  text-decoration: none;
}
h1{
  font-size: 3.2rem;
  font-family: "Montserrat", serif;
  font-weight: 900;
  line-height: 130%;
  margin: 0 !important;
  color: #262a41;
}
.btn {
  border-radius: 2px;
  padding: 15px 40px;
  font-weight: 500;
}
.btn-orange {
  background-color: #ff7d4a;
  color: white;
}
.btn-orange:hover {
  background-color: #ff4700;
  color: white;
}
