{{ partial "2023/common/head.html" . }} {{ partial "2023/navigation/navigation.html" .}}
<style>
  .art-holder {
    position: relative;
    min-height: 90vh;
  }
  .release-date {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
  }
  #cfpButton {
    margin-top: 16px;
  }
  div.subtitle {
    margin-bottom: 1rem;
  }
  div.subtitle strong {
    color: #ff7d4a;
  }
  .dateloc{
    font-family: "Montserrat", serif;
    font-size: 1.85rem;
  }
  .coc-link , .coc-link a {
    margin-top:.25rem;
    font-size: .8rem;
    color: #777;
  }
  @media only screen and (max-width: 600px) {
    .release-date {
      position: relative;
    }
  }
</style>

<section>
  <div class="art-holder">
    {{ partial "wwktm-art/index.html" . }}
    <div class="release-date">
      <div class="dateloc"><strong>23-24 SEPTEMBER 2023 </strong>| Kathmandu, Nepal</div>
      <div class="subtitle">A <strong>2-day International Conference</strong> on Web technologies and everything around the Web.</div>
      <a class="btn btn-orange" id="cfpButton" href="/2023/call-for-papers">Submit a talk</a><br />
      <p class="coc-link"><a href="/2023/code-of-conduct">Code of Conduct</a></p>
    </div>
  </div>
</section>

<!-- credits -->
{{ partial "wwktm-art/credit.html" . }} {{ partial "2023/common/foot.html" . }}
