{{ partial "2023/common/head.html" . }} 

<style>
    .container {
      max-width:1140px
    }
    div.subtitle {
      /* max-width: 840px; */
      size: 1.125rem;
      margin-bottom: 1rem;
    }
    div.subtitle strong {
      color: #ff7d4a;
    }
    /* @media only screen and (max-width: 600px) {
      .release-date {
        position: relative;
      }
    } */

    .nav-wrapper {
      position: relative;
    }

    .wrapper-body {
        padding: 5rem 0 0 0;
    }
</style>

<div class="nav-wrapper">
  {{ partial "2023/navigation/navigation.html" .}}
  {{partial "2023/components/banner.html" }}
</div>

{{partial "2023/components/intro.html" }}
{{partial "2023/components/speakers.html" }}
{{ partial "2023/components/tickets.html" . }}
{{partial "2023/components/stats.html" }}
{{ partial "2023/components/location_and_newsletter.html" . }}

<!-- credits -->
{{ partial "2023/common/foot.html" . }}
